@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(50deg, #576cbc 0%, #19376d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 52px;
  font-family: var(--font-roboto);
}

.contactBtn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 52px;
  font-family: var(--font-roboto);
  background: linear-gradient(50deg, #576cbc 0%, #19376d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #576cbc;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.heroImg {
  width: 50%;
  z-index: 1;
  border: #4167ac 10px solid;
  border-radius: 50%;
  background: linear-gradient(50deg, #3e54ae 0%, #102650 100%);

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.topBlur {
  position: absolute;
  width: 50%vw;
  height: 50%vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 50%vw;
  height: 50%vw;
  min-width: 350px;
  min-height: 350px;
  bottom: -128px;
  right: 10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
    text-align: center;

  }

  .title {
    font-size: 48px;

  }

  .description {
    font-size: 24px;
 
  }

  .contactBtn {
    font-size: 16px;
  }

  .heroImg {
    width: 80%;
    margin-bottom: 20px;
  }
}
