@import "../../vars.css";

.container {
  background-color: var(--color-bgHero);
  width: 100vw;
  background-image: url("../../assets/skills/test1Skills.png");
  background-size: cover;
  background-position: center;

  .title {
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    color: var(--color-BgImg);
  }
  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .skill {
    width: 200px;
    height: 200px;
    background-color: var(--color-BgImg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: var(--color-subTitle);
    font-weight: 700;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .container {
    background-image: url("../../assets/skills/backgroundSkills1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

    .skill {
      width: 125px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
