@import "../../vars.css";

.container {
 background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 100%
    
  );
  border-radius: 15px;
  padding: 4rem;
  width: 100%;
  ;
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .aboutImg {
    width: 30%;
    border: #4167ac 10px solid;
    border-radius: 5px;
    background: linear-gradient(50deg, #3e54ae 0%, #102650 100%);
    margin-right: 40px;
  }
  .aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-image: linear-gradient(to right, #193863, #041a39);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }
  & .aboutItem:hover {
    background-size: 100% 100%;
  }

  & .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
  }

  & .aboutItem p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 830px) {
  .container {
    padding: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
  }
  .aboutImg {
    display: none;
  }
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
