:root {
  /* Colors */

  --color-text: #fff;
  --color-text-primary: #576cbc;
  --color-text-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */

  --font-roboto: "Roboto";
}
